body {
    background-color: white;
    font-family: quicksand, sans-serif;
}

h1 {
    position: fixed;
    left: 8px;
    font-size: 3em;
    text-align: center;
    background-color: white;
    color: #2c25ff;
}

.row {
    gap: 1rem;
    border: 1px dotted #2c25ff;
}

.row .col-md-3 {
    padding: 16px;
}

.row .col-md-9 {
    padding: 16px;
}

.logo h3{
    position: sticky;
    left: 8px;
    top: 0;
    font-size: 3em;
    text-align: center;
    color: #2c25ff;
}

#contacto {
    position: fixed;
    top: 200px;
    left: 20px;
    margin-top: 16px;
}

#sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    border: 1px solid #2c25ff;
    margin-top: 16px;
}

.nav-item a {
    text-decoration: none;
    color: black;
    transition: all 100ms ease-in-out;
}

.nav-item a:hover {
    color: #2c25ff;
    font-weight: bold;
    transform: scale(1.1);
}

.button {
    border: #2c25ff 1px solid;
    border-radius: 10px;
    background-color: white;
    transition: all 100ms ease-in-out;
}
.button:hover {
    background-color: #2c25ff;
    color: white;
    cursor: pointer;
}


.contenido {
    display: inline;/* margin-left se aplica solo en pantallas medianas y grandes */
    justify-content: center;
}

#texto {
    color: white;
    position: center;
    text-align: justify;
    background-color: #2c25ff;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .button {
        border: #2c25ff 1px solid;
        border-radius: 10px;
        background-color: white;
        transition: all 100ms ease-in-out;
    }
    .button:hover {
        background-color: #2c25ff;
        color: white;
        cursor: pointer;
    }

    #contacto {
        width: 25%;
    }
    .contenido {
        margin-left: 25%;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 1em;
    justify-content: center;
}

.box {
    background-color: white;
    margin: 10px;
    padding: 2em;
    text-align: center;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
}

.box:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}