body {
    background-color: white;
    font-family: quicksand, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "navbar navbar"
    "sidebar contenido"
    "sidebar contenido";
}

.logo h4{
    position: sticky;
    padding-left: 20px;
    margin-top: 10px;
    font-size: 30px;
    text-align: justify;
    color: #2c25ff;
}

#navbar {
    grid-area: navbar;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}

#sidebar {
    grid-area: sidebar;
    padding: 1em;
    position: fixed;
}

main {
    grid-area: contenido;
}

.nav-item {
    padding: 5px;
    margin-left: -15px;
}
.nav-item a {
    text-decoration: none;
    color: black;
    transition: all 100ms ease-in-out;
}

.nav-item a:hover {
    color: #2c25ff;
    font-weight: bold;
    transform: scale(1.1);
}

.button {
    margin-left: -16px;
    margin-top: 4px;
    border: none;
    background-color: white;
    transition: all 100ms ease-in-out;
}
.button:hover {
    background-color: #2c25ff;
    color: white;
    cursor: pointer;
}

.grid-container {
    margin: 6px;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px 300px 300px 300px 300px;
    gap: 1em;
    grid-template-areas: 
    "box-1 box-2 box-2"
    "box-3 box-3 box-4"
    "box-5 box-6 box-6"
    "box-7 box-7 box-8"
    "box-9 box-10 box-10"
    "box-11 box-11 box-12";
    justify-content: center;
}

#proyectos {
    display: block;
    justify-content: center;
}

@media (max-width: 768px) {
    #navbar {
        background-color: white;
    }
    .button {
        border: none;
        background-color: white;
        transition: all 100ms ease-in-out;
    }
    .button:hover {
        background-color: #2c25ff;
        border-radius: 2px;
        color: white;
        cursor: pointer;
    }
    .contenido {
        margin-left: 25%;
    }
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "navbar navbar"
        "contenido contenido";
    }
    
    .box {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        text-align: center;
        align-items: center;
    }

    .box p br {
        display: none;
    }

    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "box-1"
        "box-2"
        "box-4"
        "box-3"
        "box-5"
        "box-6"
        "box-8"
        "box-7"
        "box-9"
        "box-10"
        "box-12"
        "box-11";
        gap: 1em;
        justify-items: center;
    }
}

.box {
    background-color: white;
    margin: 10px;
    text-align: center;
    border-radius: 4px;
    align-content: end;
    overflow: hidden;
    position: relative;
}

a {
    text-decoration: none;
    color: #2c25ff;
}

.box img {
    inline-size: 300px;
    aspect-ratio: 1;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}

.box .color-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.box:hover img {
    opacity: 0;
}

.box:hover .color-img {
    opacity: 1;
}

#proyecto1,
#proyecto3,
#proyecto5 {
    text-align: left;
}

#proyecto1 h3,
#proyecto3 h3,
#proyecto5 h3 {
    font-size: 20px;
    text-align: left;
}

#proyecto1 p,
#proyecto3 p,
#proyecto5 p {
    font-size: 14px;
    text-align: left;
}

#proyecto2,
#proyecto4,
#proyecto6 {
    text-align: right;
}

#proyecto2 h3,
#proyecto4 h3,
#proyecto6 h3 {
    font-size: 20px;
    text-align: right;
}

#proyecto2 p,
#proyecto4 p,
#proyecto6 p {
    font-size: 14px;
    text-align: right;
}
