body {
    background-color: white;
    font-family: quicksand, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "navbar navbar"
    "sidebar contenido"
    "sidebar contenido";
}

.logo h4{
    position: sticky;
    left: 20px;
    top: 0;
    font-size: 30px;
    text-align: left;
    color: #2c25ff;
}

#navbar {
    grid-area: navbar;
    position: sticky;
    top: 0;
}

#sidebar {
    grid-area: sidebar;
    border: 1px solid #2c25ff;
    padding: 1em;
    position: sticky;
}

.nav-item a {
    text-decoration: none;
    color: black;
    transition: all 100ms ease-in-out;
}

.nav-item a:hover {
    color: #2c25ff;
    font-weight: bold;
    transform: scale(1.1);
}

.button {
    border: #2c25ff 1px solid;
    border-radius: 10px;
    background-color: white;
    transition: all 100ms ease-in-out;
}
.button:hover {
    background-color: #2c25ff;
    color: white;
    cursor: pointer;
}

#proyectos {
    grid-area: contenido;
    display: inline;/* margin-left se aplica solo en pantallas medianas y grandes */
    justify-content: center;
}

#texto {
    color: white;
    position: center;
    text-align: justify;
    background-color: #2c25ff;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .button {
        border: #2c25ff 1px solid;
        border-radius: 10px;
        background-color: white;
        transition: all 100ms ease-in-out;
    }
    .button:hover {
        background-color: #2c25ff;
        color: white;
        cursor: pointer;
    }

    #contacto {
        width: 25%;
    }
    .contenido {
        margin-left: 25%;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 1em;
    justify-content: center;
}

.box {
    background-color: white;
    margin: 10px;
    padding: 2em;
    text-align: center;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
}

.box:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}