body {
    background-color:  rgb(255, 255, 255);
    font-family: quicksand, sans-serif;
}

.row {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat (auto-fit, minmax(200px, 1fr));
    border: 1px dotted #2c25ff;
}

.row .col-md-3 {
    padding: 16px;
}

.row .col-md-6 {
    padding: 16px;
}

#sidebar {
    position: fixed;
    top: 40px;
    left: 0px;
    border: 1px solid #2c25ff;
    margin-top: 16px;
}

.contenido {
    display: inline;/* margin-left se aplica solo en pantallas medianas y grandes */
    justify-content: center;
}

@media (min-width: 768px) {
    #sidebar {
        width: 25%;
    }
    .contenido {
        margin-left: 25%;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px;
}

.box {
    background-color: white;
    margin: 10px;
    padding: 2em;
    text-align: center;
    border-radius: 10px;
}

.box:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    -10px -10px 10px rgba(255, 255, 255, 0.5);
}