body {
    background-color: white;
    font-family: quicksand, sans-serif;
}

h1 {
    position: fixed;
    left: 8px;
    font-size: 3em;
    text-align: center;
    background-color: white;
    color: #2c25ff;
}

.row {
    gap: 1rem;
    border: 1px dotted #2c25ff;
}

.row .col-md-3 {
    padding: 16px;
}

.row .col-md-6 {
    padding: 16px;
}

#contacto {
    position: fixed;
    top: 200px;
    left: 20px;
    margin-top: 16px;
}

#sidebar {
    position: fixed;
    top: 40px;
    left: 0px;
    border: 1px solid #2c25ff;
    margin-top: 16px;
}

.nav-item a {
    text-decoration: none;
    color: black;
    transition: all 100ms ease-in-out;
}

.nav-item a:hover {
    color: #2c25ff;
    font-weight: bold;
    transform: scale(1.1);
}


.contenido {
    display: inline;/* margin-left se aplica solo en pantallas medianas y grandes */
    justify-content: center;
}

#texto {
    color: white;
    position: center;
    text-align: justify;
    background-color: #2c25ff;
    border-radius: 10px;
}

@media (min-width: 768px) {
    #sidebar {
        width: 25%;
    }
    #contacto {
        width: 25%;
    }
    .contenido {
        margin-left: 25%;
    }
}
